body {
   background:url('images/work.jpeg') fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   height:690px;

}




p {
height: 500px;
    color: red;
}
