body {
   background:url('work.jpeg') fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
padding-top: 70px;

}

div {
/*position:static;*/
margin-right: 100px;
margin-left: 100px;
margin-top: 200px;
color:red;

}
