html {
    background: url(http://i.imgur.com/6oqXuwz.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {


  margin-top: 18%;
  margin-bottom: 15%;
  margin-left: 15%;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color:black;
}




@font-face {
   font-family: myFirstFont;
   src: url(sansation_bold.woff);
   font-weight: bold;
}


}


@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}






/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkgrey;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: dodgerblue;
    text-decoration: none;
    background: url(http://i.imgur.com/0utluQc.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}
